@keyframes moveInRight {
    0% {
        transform: translateX(100rem);
    }

    80% {
        transform: translateX(-8rem);
    }
    100% {
        transform: translateX(0);
    }
}
@keyframes slideInBottom {
    0% {
        opacity: 0;
        transform: translateY(100rem);
    }

    100% {
        transform: translateY(0);
    }
}
@keyframes slideOutBottom {
    0% {
        opacity: 1;
        transform: translateY(0);
    }

    100% {
        transform: translateY(100rem);
    }
}
@keyframes moveInTop {
    0% {
        opacity: 0;
        transform: translateY(-20rem);
    }
    50% {
        opacity: 0;
        transform: translateY(0rem);
    }

    80% {
        opacity: 1;
        transform: translateY(4rem) scale(1.2);
    }
    100% {
        opacity: 1;
        transform: translateY(0rem);
    }
}
