$color-black: #000;

$color-white: #fff;
$color-white-light-1: #ccc;

$color-blue-light: #418fc3;
$color-blue-dark: #34719a;
$color-blue-shadow: #418fc396;

$banner-img-url: "../assets/images/bird.jpg";
