.banner {
    background-image: url($banner-img-url);
    background-position: center;
    background-size: cover;
    position: relative;
    height: 52rem;
    @include respond(tabPort) {
        height: 28rem;
    }
    width: 85%;
    margin-left: 7%;
    margin-right: 8%;
    @include respond(smallPhone) {
        width: 92%;
        margin-left: 4%;
        margin-right: 4%;
    }

    border-radius: 6px;
    &Content {
        display: block;
        position: absolute;
        background-color: $color-blue-light;
        height: 22rem;
        width: 51rem;
        top: 68%;
        padding: 2rem;
        padding-left: 4rem;
        right: 4%;
        border-radius: 6px;
        transition: all 0.2s;
        animation: moveInRight 0.6s;
        backface-visibility: hidden;

        &:hover {
            transform: scale(1.1);
            background-color: $color-blue-dark;
            box-shadow: 6px 9px 20px $color-blue-shadow;
        }
        @include respond(tabPort) {
            background-color: transparent;
            color: #000;
            height: 22rem;
            width: 35rem;
            padding: 0;
            right: 0;
            margin-left: 5%;
            position: relative;
            top: 98%;
            left: -5%;
            animation: moveInTop 0.6s;
            &:hover {
                background-color: transparent;
                box-shadow: none;
                transform: none;
            }
        }
        &Link {
            text-decoration: none;
            color: $color-white;
            @include respond(tabPort) {
                color: $color-black;
            }

            &__mainTitle {
                display: inline-block;
                font-size: 4rem;
                font-weight: 300;

                text-decoration: none;
                @include respond(tabPort) {
                    display: block;
                    font-size: 4rem;
                    padding-top: 3rem;
                    font-weight: 500;
                }
            }
            &__subTitle {
                display: inline-block;
                margin-top: 2rem;
                font-size: 2rem;
                font-weight: 300;
                @include respond(tabPort) {
                    display: block;
                    margin-top: 3rem;
                    font-size: 2.5rem;

                    font-weight: 500;
                }

                @include respond(smallPhone) {
                    font-size: 2.4rem;
                }
            }
        }
    }
}
