.burgerMenu {
    display: none;
    @include respond(tabPort) {
        display: block;
        float: right;
        transform: translateY(98%);
    }
    &Btn {
        display: inline-block;
        cursor: pointer;
    }
    &Bar {
        width: 35px;
        height: 2px;
        background-color: #333;
        margin: 0.8rem 0;
    }
}
